<div class="modal-content">
  <div class="modal-grid">
    <span>
      <span class="h1">Import/Export Item</span>
      <span class="buttons" style="float: right;">
        <a [routerLink]="['..']">
          <button class="nostyle weird-tooltip" data-tooltip="Close">
            <img src="assets/ic_close_black_24px.svg" alt="X" />
          </button>
        </a>
      </span>
    </span>
    <span class="gist"><label>Import from Gist: <input type="text" [(ngModel)]='gisturl'/></label> <button (click)="importgist()">Import</button></span>
    <textarea placeholder="Paste previously-exported item data here." [(ngModel)]='itemDataTextarea'></textarea>
    <span>
      <span>
        <button (click)="export()">Export</button>
        <button (click)="import()" style="float: right;">Import</button>
      </span>
    </span>
  </div>
</div>