<div class="modal-container">
  <div class="modal border-dark-warning">
    <div class="title">
      <span class="h1">Import/Export Item</span>
      <span class="buttons" style="float: right;">
        <button class="nostyle weird-tooltip icon-btn" data-tooltip="Close" (click)="closeClick()">
          <img src="assets/ic_close_black_24px.svg" alt="X"/>
        </button>
      </span>
    </div>
    <div class="text">
      <span class="gist">
        <label>Import from URL: <input type="text" [(ngModel)]='gisturl'/></label>
        <button (click)="importgist()" class="icon-btn nostyle">
          <img src="assets/ic_download_black_24px.svg" alt="Import" />
        </button>
      </span>
      <textarea placeholder="Paste previously-exported item data here." [(ngModel)]='itemDataTextarea' (ngModelChange)="debounceLoadJSON()"></textarea>
      <poe-item-renderer [item]="item"></poe-item-renderer>
      <div class="error" *ngIf="jsonError !== ''">{{ jsonError }}</div>
    </div>
    <div class="buttons">
      <button (click)="reload()">Reload from Creator</button>
      <button [disabled]="jsonError !== ''" (click)="import()" style="float: right;">Import</button>
    </div>
  </div>
</div>
