@import '../../styles/colors.scss';

.item {
    background-color: $black;
    font-family: "fontin", serif;
    font-size: 22.5px;
    margin: auto auto;
    text-align: center;

    &.border {
        border-width: 1px;
        border-style: solid;
    }
}

.iteminf {
    * {
        margin: 0 10px 0 0;
    }
}

:host {
  align-items: center;
  display: flex;
  overflow-y: auto;
}

.itembody {
  padding: 10.5px 7.5px;
}

.property {
  line-height: 32px;
  margin-top: 4px;
  .prop-name {
    &::after {
      content: ": ";
    }
  }
}

.statreq {
  b {
      .prop-white {
          color: $blue;
          font-weight: initial;
      }
  }
}

$foils: ("amethyst", "verdant", "ruby", "cobalt", "sunset", "aureate");

%foil {
    background-position-y: bottom;
    animation: animate-foil;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    mix-blend-mode: color;
}

.itemheader {
    align-items: center;
    display: flex;
    background-size: auto 300%;
    .left,
    .right {
        position: relative;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        .influence-symbol {
            width: 40px;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            z-index: 2;
        }
        background-size: auto 300%;
    }
    .left .influence-symbol {
        left: 3px;
    }
    .right {
        margin-left: auto;
        .influence-symbol {
           right: 3px;
        }
    }
    &.double, &.thicksingle {
      background-position: center -81px;
      height: 81px;
      .left {
        height: 81px;
        width: 66px;
      }
      .right {
        background-position: 0 -162px;
        height: 81px;
        width: 66px;
      }
    }
    &.single, .item.single-line & {
      background-position: center -51px;
      height: 51px;
      .left,
      .right {
        height: 51px;
        width: 44px;
      }
      .right {
        background-position: 0 -102px;
      }
      .itemheader-name-line1 {
        display: none;
      }

      &.double .right {
        background-position-x: 3px;
      }
    }

    &:not(.foil-none) {
        &::after {
            @extend %foil;
            content: ' ';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        @each $foil in $foils {
            &.foil-#{$foil}::after {
                background-image: url("../../assets/foils/#{$foil}.png")
            }
        }
    }

    .itemheader-name {
      flex: 1;
      font-size: 30px;
      line-height: 33px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }
    .itemheader-name-line2 {
      display: block;
    }

    & + .itemimg {
        margin-top: 10.5px;
    }

    position: relative;
}

@keyframes animate-foil {
    from {
        background-position-y: bottom;
    }
    to {
        background-position-y: top;
    }
}

.sep {
    background-image: url("../../assets/seps.png");
    background-repeat: no-repeat;
    height: 3px;
    margin: 7.5px auto;
    width: 331.5px;
}


.unique-flavor {
    display: flex;
    flex-direction: column;
    font-style: italic;
    color: $unique;
}

.gray-flavor {
    display: flex;
    flex-direction: column;
    font-style: italic;
}

%unique {
    color: $unique;
    .sep {
      background-position: 0 -9px;
    }
}

%passive {
    color: $passive;
}

@mixin unique-itemheader($url) {
    .itemheader {
      background-image: url($url);
      .left,
      .right {
        background-image: url($url);
      }
    }
}

.unique {
    @extend %unique;
    @include unique-itemheader("../../assets/headers/itemheader_unique.png");
    background-size: cover / contain;
}

%rare {
    color: $rare;
    .sep {
      background-position: 0 -6px;
    }
}

@mixin rare-itemheader($url) {
    .itemheader {
      background-image: url($url);
      .left,
      .right {
        background-image: url($url);
      }
    }
}

.rare {
    @extend %rare;
    @include rare-itemheader("../../assets/headers/itemheader_rare.png");
}

.normal {
    color: $normal;
    .sep {
      background-position: 0 0;
    }
    .itemheader {
      background-image: url("../../assets/headers/itemheader_normal.png");
      .left,
      .right {
        background-image: url("../../assets/headers/itemheader_normal.png");
      }
    }
}

.magic {
    color: $magic;
    .sep {
        background-position: 0 -3px;
    }
    .itemheader {
        background-image: url("../../assets/headers/itemheader_magic.png");
        .left,
        .right {
            background-image: url("../../assets/headers/itemheader_magic.png");
        }
    }
}

.gem {
    color: $gem;
    .sep {
        background-position: 0 -15px;
    }
    .itemheader {
        background-image: url("../../assets/headers/itemheader_gem.png");
        .left,
        .right {
            background-image: url("../../assets/headers/itemheader_gem.png");
        }
    }
    .unique-flavor {
        color: $gem;
        display: flex;
        flex-direction: column;
    }
}

.prophecy {
    color: $prophecy;
    .sep {
        background-position: 0 -21px;
    }
    .itemheader {
        background-image: url("../../assets/headers/itemheader_prophecy.png");
        .left,
        .right {
            background-image: url("../../assets/headers/itemheader_prophecy.png");
        }
    }
    .unique-flavor {
        color: $unique;
        display: flex;
        flex-direction: column;
        font-style: italic;
    }
    .prop-blue {
        color: $white;
    }
}

.currency {
    color: $currency;
    .sep {
        background-position: 0 -12px;
    }
    .itemheader {
        background-image: url("../../assets/headers/itemheader_currency.png");
        .left,
        .right {
            background-image: url("../../assets/headers/itemheader_currency.png");
        }
    }
}

.passive {
    @extend %passive;
    .itemheader {
        background-image: url("../../assets/headers/itemheader_passive.png");
        .left,
        .right {
            background-image: url("../../assets/headers/itemheader_passive.png");
        }
    }
}

.notable {
    @extend %passive;
    .itemheader {
        background-image: url("../../assets/headers/itemheader_notable.png");
        .left,
        .right {
            background-image: url("../../assets/headers/itemheader_notable.png");
        }
    }
}

.keystone {
    @extend %passive;
    .itemheader {
        background-image: url("../../assets/headers/itemheader_keystone.png");
        .left,
        .right {
            background-image: url("../../assets/headers/itemheader_keystone.png");
        }
    }
}

.socket-jewel {
    @extend %passive;
    .itemheader {
        background-image: url("../../assets/headers/itemheader_socket.png");
        .left,
        .right {
            background-image: url("../../assets/headers/itemheader_socket.png");
        }
    }
}

.item.foil.unique {
    @extend %unique;
    @include unique-itemheader("../../assets/headers/itemheader_unique_foil.png");
}

.itemimg {
    display: inline-flex;
    position: relative;
    justify-content: center;

    .image-foil {
        @extend %foil;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;

        @each $f in $foils {
            &.foil-#{$f} {
                background-size: 100% 300%;
                background-image: url("../../assets/foils/#{$f}.png");
            }
        }
    }
}

img {
    &#imageo {
        max-width: 156px;
        position: relative;
        z-index: 3;
    }
}

.influencebg {
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    &.elder {
        z-index: 2;
    }
    &.shaper {
        z-index: 1;
    }
}

.uid {
    font-size: 0.8em;
}
