*.webp filter=lfs diff=lfs merge=lfs -text
src/assets/headers/poe2/* filter=lfs diff=lfs merge=lfs -text
src/assets/veiled/* filter=lfs diff=lfs merge=lfs -text
src/assets/veiled/poe2/* filter=lfs diff=lfs merge=lfs -text
src/assets/items/* filter=lfs diff=lfs merge=lfs -text
