@import '../../styles/colors.scss';

.reset, .export, .save {
    margin: 0 0 0 10px;
}

ul {
    margin-top: 0;
    padding: 0;
}

li {
    display: initial;
}

.header {
    border-bottom: 1px solid lighten($input, 20);
    padding: 6px 12px 6px 0;
}

span.imageselect, span.maxwidth {
    display: flex;
    align-items: center;
    * {      
        margin: 0 5px;
    }
}

.add-first-prop {
    float: right;
    margin-top: 3px;
}
