<div style="margin-bottom: 15px">
    <div style="margin: 0 0 20px 0;">
      <div style="display: flex">
        <span class="h1">Properties</span>
        <button class="weird-tooltip reset" (click)="reset()" data-tooltip="Reset">
          <img src="assets/ic_refresh_black_24px.svg" alt="Reset" />
        </button>
        <div style="flex-grow: 1"></div>
        <a [routerLink]="['./export']" data-tooltip="Export" class="button weird-tooltip export">
          <img src="assets/ic_content_paste_black_24px.svg" alt="I" />
        </a>
      </div>
      <br/>
    </div>
    <span class="iteminf">
      <select id="itemrarity" [(ngModel)]="item.rarity">
        <option [class]="'col-' + rarity.name.split('-')[0]" *ngFor="let rarity of Rarity.rarities" [ngValue]="rarity">{{rarity.displayName}}</option>
      </select>
      <input type="text" class="Name" id="name1" [(ngModel)]="item.name" />
      <input type="text" class="BaseType" id="name2" [(ngModel)]="item.base" *ngIf="item.rarity.thickness === RarityThickness.TwoLine" />
      <br/>
      <br/>
      <select id="iteminfluence" [(ngModel)]="item.influence">
        <option [class]="'col-' + influence.name.toLowerCase()" *ngFor="let influence of Influence.influences" [ngValue]="influence">{{ influence.displayName }}</option>
      </select>
      <select id="iteminfluence" [(ngModel)]="item.influence2">
        <option [class]="'col-' + influence.name.toLowerCase()" *ngFor="let influence of Influence.influences" [ngValue]="influence">{{ influence.displayName }}</option>
      </select>
    </span>
    <br/>
    <br/>
    <span class="imageselect">
      Image:
      <input type="text" class="Image" id="image" [(ngModel)]="item.image" />
      <button onclick="removeimage()" style="position: relative; top: 7px; display: inline-flex"
        data-tooltip="Remove Image">
        <img src="assets/ic_close_black_24px.svg" alt="X" />
      </button>
    </span>
    <br/>
    <br/>
    <span class="itemsize" *ngIf="item.influence.has_background || item.influence2.has_background">
      Item Size (For Influence Background):
      <select id="itemsize" [(ngModel)]="item.size">
        <option value="x1x1">1x1</option>
        <option value="x1x2">1x2</option>
        <option value="x1x3">1x3</option>
        <option value="x2x1">2x1</option>
        <option value="x2x2">2x2</option>
        <option value="x2x3">2x3</option>
      </select>
    </span>
    <ul id="properties" class="properties">
      <li *ngFor='let property of item.properties;let index = index;' [class]="'prop-' + property.type.className" [attr.fields]="property.type.fields">
        <button (click)="item.removeProperty(property)" class="remove-prop">
          <img src="assets/ic_close_black_24px.svg" alt="X" />
        </button>
        <select id="proptype" class="proptype" [(ngModel)]="item.properties[index].type">
          <option *ngFor='let type of types' [ngValue]="type">{{type.name}}</option>
        </select>
        <input type="text" class="nameField" id="name" [(ngModel)]="item.properties[index].name" *ngIf='property.type.fields === 2' />
        <input type="text" class="valueField" id="value" [(ngModel)]="item.properties[index].value" *ngIf='property.type.fields >= 1' />
        <button (click)="item.insertPropertyAfter(property)" class="add-after">
          <img src="assets/ic_add_black_24px.svg" alt="+" />
        </button>
      </li>
    </ul>
    <button (click)="item.appendProperty()" class="add-after" *ngIf='item.properties.length === 0'>
        <img src="assets/ic_add_black_24px.svg" alt="+" />
    </button>
  </div>
