@import '../../styles/colors.scss';

.reset, .export, .save {
    margin: 0 0 0 10px;
    position: relative;
}

ul {
    margin-top: 0;
    padding: 0;
}

li {
    display: initial;
}

button, .button {
    width: 39px;
    height: 30px;
    padding: 0;

    img {
        height: 18px;
    }
}

.header {
    border-bottom: 1px solid lighten($input, 20);
    padding: 6px 12px 6px 0;
}
