<button (click)="item.removeProperty(property)" class="remove-prop orb-btn orb-annul">
  <img src="assets/ic_close_black_24px.svg" alt="X" />
</button>
<poe-field-group 
  [labelEditable]="true"
  [(label)]="item.properties[index].type"
  [labelChoices]="types"
  [(value)]="item.properties[index].name"
  [(value2)]="item.properties[index].value"
  [fields]="item.properties[index].type.fields"
  hide="value">
</poe-field-group>
<button (click)="item.insertPropertyAfter(property)" class="add-after orb-btn orb-exalt">
  <img src="assets/ic_add_black_24px.svg" alt="+" />
</button>
  