@import '../../styles/colors.scss';

:host {
    position: relative;
    display: grid;
    grid-gap: 3px;
    column-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3px;

    .value {
        grid-column: 2/4;
    }

    &[fields='0'] {
        .label {
            grid-column: 1/4;
        }
    }
    &[fields='1'] {
        .value, .value2 {
            grid-column: 2/4;
        }
    }
    &[fields='2'] {
        .value {
            grid-column: 2/3;
        }
        .value2 {
            grid-column: 3/4;
        }
    }
    .value,
    .value2 {
        input {
            min-width: 0;
        }
        grid-row: 1/2;
    }
    .label {
        input {
            border-left: 1px solid $secondary;
            background-color: rgba(45,49,54,.3);
        }
        grid-row: 1/2;
    }
    .label, .value, .value2 {
        display: flex;
        position: relative;
        img {
            position: absolute;
            top: 6px;
            left: 4px;

            & + input {
                padding-left: 26px;
            }
        }
        input {
            flex-grow: 1;
            width: 100%;
        }
    }
}

button, .button {
    width: 39px;
    height: 30px;
    padding: 0;

    img {
        height: 18px;
    }
}

.label input {
    color: $primary;
    font-size: 14.3px;
}

input[readonly] {
    cursor: default;
}

.has-choices::after {
    position: absolute;
    content: '';
    top: 14px;
    color: #999;
    border: 5px solid;
    border-color: #999 #0000 #0000;
    border-bottom-width: 0;
    right: 8px;
    transition: transform 0.2s;
}

.choices-shown::after {
    transform:rotate(180deg);
}

.has-choices input {
    padding-right: 26px;
}

.choices {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 33px;
    z-index: 99;
    grid-column: 1/5;
    border: 1px solid $secondary;
    border-top: none;
    max-height: 250px;
    overflow-y: scroll;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        line-height: 18px;
        padding: 6px 12px;
        cursor: default;

        &.heading {
            background-color: darken(#1e2124, 1);
            color: lighten($secondary, 20%);
        }

        &.choice {
            color: $primary;
            background-color: #1e2124;

            &.selected {
                background-color: #2d3136
            }

            &:hover {
                background-color: #465260;
            }
        }
    }
}
