<div class="label" [ngClass]="{'has-choices': labelChoices}">
    <input type="text" [(ngModel)]="label" (ngModelChange)="!labelChoices ? labelChanged($event) : null" [readonly]="!labelEditable || labelChoices" (click)='focusLabel(true)' (blur)='focusLabel(false)' />
</div>
<div class="value" [ngClass]="{'has-choices': valueChoices}" *ngIf='fields > 0'>
    <input type="text" [(ngModel)]="value" (ngModelChange)="!valueChoices ? valueChanged($event) : null" (click)='focusValue(true)' (blur)='focusValue(false)' [readonly]="valueChoices" />
</div>
<div class="value2" [ngClass]="{'has-choices': value2Choices}" *ngIf='fields > 1'>
    <input type="text" [(ngModel)]="value2" (ngModelChange)="!value2Choices ? value2Changed($event) : null" (click)='focusValue2(true)' (blur)='focusValue2(false)' [readonly]="value2Choices" />
</div>
<div class="choices" *ngIf='choicesShown' [ngStyle]="{display: choicesShown ? 'block' : 'none'}">
    <ul>
        <li *ngFor="let choice of currentChoices" [attr.dataValue]="getName(choice)" [ngClass]="{selected: render(choice) == current}" (mousedown)="currentCallback(choice)">
            {{ render(choice) }}
        </li>
    </ul>
</div>
