$black: black;
$offblack: #212121;
$offwhite: #eeeeee;

$primary: #fff8e1;
$secondary: #5a3806;
$tertiary: #e9cf9f;
$quaternary: #533e22;
$input: #1e2124;

$gray: #7f7f7f;
$blue: #8888ff;
$white: white;
$crafted: #b8daf1;
$red: #d20000;

$unique: #af6025;
$magic: $blue;
$rare: #ffff77;
$currency: #aa9e82;
$normal: #c8c8c8;
$prophecy: #b54bff;
$gem: #1aa29b;
$passive: #f7e6ca;

$chaos: #d02090;
$fire: #960000;
$cold: #366492;
$lightning: gold;

$crucible: #ff7339;
