@import '../../styles/colors.scss';

:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2 / 2;
}

#main-render-container {
    background-color: rgba(0,0,0,0.8);
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
}

.stash-items {
    overflow-x: hidden;
}

.stash-item {
    padding-bottom: 60px;
    position: relative;
    max-width: 100%;

    &:hover {
        padding-bottom: 30px;
        .stash-item-controls {
            display: flex;
        }
    }

    poe-item-renderer {
        max-width: 100%;
    }

    .stash-item-controls {
        display: none;
        justify-content: end;
        width: 100%;
    }
}

.sidebar {
    background-color: $black;
    grid-column: 1 / 2;
    overflow-y: auto;
    padding: 25px;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    .stash-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px 10px;

        poe-item-renderer {
            display: inline-flex;
            cursor: pointer;
        }
    }
}
