<div class="sidebar" id="sidebar">
    <div class="h1" style="margin-bottom: 20px;">Stash ({{ items.length }} item{{ items.length != 1 ? "s" : ""}})</div>
    <div class="stash-notice">
        <poe-alert-toast [alert]="alert"></poe-alert-toast>
    </div>
    <div class="stash-items">
        <div class="stash-item" *ngFor="let i of items; index as index" (contextmenu)="onRightClick(index, $event)" (mouseenter)="onHover(index)" (mouseleave)="onHover(-1)">
            <poe-item-renderer [showBody]="false" [item]="i" (click)="onClick(index)" [maxWidth]="100" maxWidthUnit="%"></poe-item-renderer>
            <div class="stash-item-controls float-right">
                <button class="button delete orb-btn orb-scour" (click)="promptDeletion(index)" data-tooltip="Delete">
                    <img src="assets/ic_delete_forever_black_18px.svg" alt="Delete" />
                </button>
            </div>
        </div>
    </div>
</div>
<div id="main-render-container">
    <poe-item-renderer id="main-renderer" *ngIf="hovered >= 0" [item]="this.items[hovered]" [maxWidth]="100" maxWidthUnit="%"></poe-item-renderer>
</div>
