<button (click)="item.removeProperty(property)" class="remove-prop orb-btn orb-annul">
  <img src="assets/ic_close_black_24px.svg" alt="X" />
</button>
<poe-field-group
  [labelEditable]="true"
  [(label)]="item.properties[index].type"
  [labelChoices]="types"
  [(value2)]="current"
  (value2Change)="this.update()"
  [value2Choices]="variants"
  hide="value">
</poe-field-group>
<button (click)="item.insertPropertyAfter(property)" class="add-after orb-btn orb-exalt">
  <img src="assets/ic_add_black_24px.svg" alt="+" />
</button>
