@import '../styles/colors.scss';

:host {
    background: #000 url('../assets/synthesis-bg.jpg') no-repeat top center fixed;
    background-size: contain;
    min-height: 100%;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32px 1fr;
    padding: 140px 130px 100px;

    .tabber {
        display: inline-flex;
        .tab {
            display: flex;
            align-items: center;
            padding: 0 10px;

            color: $primary;
            background-color: $black;

            &.active {
                background-color: $secondary;
            }

            &:hover {
                background-color: $quaternary;
            }

            cursor: pointer;
        }
    }
}

poe-item-renderer {
    background-color: rgba(0,0,0,0.8);
    grid-row: 2 / 2;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
}

.disclaimer {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    bottom: 0;
    font-size: 10px;
    left: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    position: fixed;
}

.sidebar {
    background-color: $black;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    overflow-y: auto;
    padding: 25px;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
}

#navbar {
    background-color: rgba(0,0,0,0.5);
    color: desaturate(lighten($secondary, 50), 30);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 20px;

    border-bottom: 1px solid $secondary;

    font-size: 16px;

    .h1 {
        font-size: 25px;
    }

    li {
        display: inline;
        list-style-type: none;
        
        a {
            color: desaturate(lighten($secondary, 50), 30);
            text-decoration: none;

            &:hover {
                color: desaturate(lighten($secondary, 70), 30);
            }
        }

        &:not(:first-child)::before {
            content: '\00B7';
            width: 15px;
            text-align: center;
            display: inline-block;
        }
    }
}
