<div id="navbar">
  <img src="assets/symbol_shaper.png" height="30"/>
  <span class="h1" style="margin-left: 5px;">Path of Exile Item Creator</span>
  <div style="flex-grow: 1"></div>
  <ul class="right">
    <li>
      <a href="https://github.com/crunchyintheory/PoE-Item-Creator" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="https://www.pathofexile.com/forum/view-thread/2088916" target="_blank">Forum Post</a>
    </li>
    <li>
      <a href="https://github.com/crunchyintheory/PoE-Item-Creator/issues" target="_blank">Report Bug</a>
    </li>
  </ul>
</div>
<div class="grid">
  <div class="tabber">
    <div class="tab" routerLink="/create" routerLinkActive="active">Create Item</div>
    <div class="tab" routerLink="/stash" routerLinkActive="active">Stash</div>
  </div>
  <router-outlet></router-outlet>
</div>
<span class="disclaimer">This site is fan-made and not affiliated with Grinding Gear Games.</span>
