<input type="radio" name="poe2-switcher" id="switcher-poe1" class="poe2-switcher" value="poe1" [ngModel]="game" (ngModelChange)="gameChange.emit($event)">
<label class="button" for="switcher-poe1"><img alt="PoE 1" title="Path of Exile 1" src="/assets/poe1.png" /></label>
<input type="radio" name="poe2-switcher" id="switcher-poe2" class="poe2-switcher" value="poe2" [ngModel]="game" (ngModelChange)="gameChange.emit($event)">
<label class="button" for="switcher-poe2"><img alt="PoE 2" title="Path of Exile 2" src="/assets/poe2.png" /></label>
